body{
    font-family: 'Ubuntu', sans-serif;
}

#webcam{
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 2% 2% 2% 2%;
    border-color: #DDDDDD;
    border-width: 0px;
    border-style: solid;
}

#camera{
    position: fixed;
    bottom: 1%;
    left: 1%;
}

#hzLogo {
    position: fixed;
    bottom: 5%;
    right: 2%;
}

#text {
    font-size: 2rem;
    transform: translateY(150%);
    text-align: center;
}

span {
    color: #0093D5;
}

#stripe {
    position: absolute;
    top: 0%;
    right: 20%;
}

#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 30px solid #005C95;
    border-right: 150px solid transparent;
}

#square {
    width: 150px;
    height: 120px;
    background: #005C95;
}
